__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.log
.git/
.gitignore
.venv/
venv/
ENV/
.idea/
.vscode/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
build/
dist/
*.egg-info/
node_modules/
reports/
cert/
videos/
static/fw/
