__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.log
.git/
.gitlab-ci-local/
.gitignore
.gitattributes
.github/
.gitlab-ci.yml
.venv/
venv/
ENV/
.idea/
.vscode/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
build/
dist/
*.egg-info/
node_modules/
reports/
.env
cert/
videos/
static/fw/
