{% extends "base2.html" %}

{% block head %}
<title>WiFi Water Level S2 | Wireless Water Level Sensor for Tanks</title>

<meta name="description" content="Monitor your tank's water level remotely with the WiFi Water Level S2. Get alerts, easy installation, and flexible power options. Perfect for indoor and outdoor use.">
<meta name="keywords" content="WiFi Water Level Sensor, Water Level Monitoring, Remote Water Level, Wireless Water Level, Tank Water Level, S2 Water Sensor, Home Automation, Water Alerts">
<meta name="robots" content="index, follow">

<meta property="og:title" content="WiFi Water Level S2 | Wireless Water Level Sensor for Tanks">
<meta property="og:description" content="Monitor your tank's water level remotely with the WiFi Water Level S2. Get alerts, easy installation, and flexible power options. Perfect for indoor and outdoor use.">
<meta property="og:image" content="{{ DOMAIN }}{{ url_for('static', filename='manuals/s1_face.png') }}">
<meta property="og:url" content="{{ DOMAIN }}{{ url_with_lang('products', product_name='WiFi-Water-Level-S2') }}">

<meta name="twitter:card" content="{{ DOMAIN }}{{ url_for('static', filename='manuals/S1_face.png') }}">
<meta name="twitter:title" content="WiFi Water Level S2 | Wireless Water Level Sensor for Tanks">
<meta name="twitter:description" content="Monitor your tank's water level remotely with the WiFi Water Level S2. Get alerts, easy installation, and flexible power options. Perfect for indoor and outdoor use.">
<meta name="twitter:image" content="{{ DOMAIN }}{{ url_for('static', filename='manuals/S1_face.png') }}">

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Product",
  "name": "WiFi Water Level S2",
  "image": "{{ DOMAIN }}{{ url_for('static', filename='manuals/s1_face.png') }}",
  "description": "Monitor your tank's water level remotely with the WiFi Water Level S2. Get alerts, easy installation, and flexible power options. Perfect for indoor and outdoor use.",
  "sku": "S2",
  "brand": {
    "@type": "Brand",
    "name": "Water Level Pro"
  },
  "additionalProperty": [
    {
      "@type": "PropertyValue",
      "name": "Remote Monitoring",
      "value": "Monitor water levels remotely via WiFi."
    },
    {
      "@type": "PropertyValue",
      "name": "Power Options",
      "value": "Runs on battery or AC power."
    },
    {
      "@type": "PropertyValue",
            "name": "Open Source",
            "value": "Community-driven hardware and software, freely available under GPL terms."
    }
  ],
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": 4.9,
        "reviewCount": 9
      },
      "positiveNotes": {
            "@type": "ItemList",
            "itemListElement": [
              {
                "@type": "ListItem",
                "position": 1,
                "name": "Solar Powered"
              },
              {
                "@type": "ListItem",
                "position": 2,
                "name": "Unlimited monitoring range."
              }
            ]
      }
}
</script>


<style>
.long-img-area {
  max-width: 650px;
  margin: 35px auto;
}
</style>
{% endblock %}



{% block content %}
<div class="container-fluid">

  <div class="d-flex">
    <div class="p-2">
        <h1 class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover fs-5" >WiFi Water Level S2 - Features</h1>
    </div>
    <div class="ms-auto">
        <a href="/manuals/WiFi-Water-Level-S2" target="_self" class="btn btn-info btn-sm  mt-1">
            <i class="ti ti-help"></i> Manual
        </a>
    </div>

  </div>

    <div class="text-center">

        <div id="carouselExampleAutoplaying1" class="carousel long-img-area" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="7000">
              <img src="{{ url_for('static', filename='manuals/s1_face.png') }}" class="d-block w-100" alt="WiFi Water Level S2 Features" title="WiFi Water Level S2 Features">
            </div>
            <div class="carousel-item" data-bs-interval="7000">
              <img src="{{ url_for('static', filename='manuals/s1_face2.png') }}" class="d-block w-100" alt="WiFi Water Level S2 - How It Works" title="How WiFi Water Level S2 Works" >
            </div>
            <div class="carousel-item" data-bs-interval="7000">
              <img src="{{ url_for('static', filename='manuals/wifi_water_level_s2.png') }}" class="d-block w-100" alt="WiFi Water Level S2 - Product Image" title="WiFi Water Level S2 - Product Image" >
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying1" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>


    <h2 class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover fs-5" >Features List </h2>
    <ul class="list-group">
        <li class="list-group-item list-group-item-action list-group-item-success active">
            <b>Measures the water level in tanks up to 4 meters deep.</b><br>
            Obtain measurements of water tanks or reservoirs on your cell phone online without having to be near the device.
        </li>
        <li class="list-group-item list-group-item-action list-group-item-primary">
            <b>Wi-Fi Wireless Water Level Sensor.</b><br>
            Wherever Wi-Fi Internet coverage reaches or where its use can be extended,
            the water level sensor can be used.
            <p>
                No more bluetooth short range problems. This device use your same home WiFi internet, allowing check
                water level even from the other side of the world while you have internet.
            </p>
        </li>
        <Li class="list-group-item list-group-item-action list-group-item-primary">
            <b>Water Level Alerts By Email Or Web UI.</b><br>
            <p>
                Get notification alerts if water level in under or over specific % level or if device is offline.
            </p>
        </Li>
        <li class="list-group-item list-group-item-action list-group-item-success active ">
            <b>USBC Input Power</b>
            <br> Flexible input power, from standard <b>USBC</b>.
            <br> <b>Input power options:</b>
            <ul class="list-group ms-3 list-group-numbered" >
                <li class="list-group-item list-group-item-action list-group-item-info">Water Level .Pro <b>USBC</b> Solar Energy Module.</li>
                <li class="list-group-item list-group-item-action list-group-item-dark text-white">Standard <b>USBC</b> phone charger.</li>
                <li class="list-group-item list-group-item-action list-group-item-info"><b>USBC</b> power banks solar powered</li>
                <li class="list-group-item list-group-item-action list-group-item-dark text-white"><b>USBC</b> power banks</li>
            </ul>
        </li>
        <li class="list-group-item list-group-item-action list-group-item-primary">
            <b>Responsive Web App Water Level Monitoring</b>
            <br> Monitor your water level from internet everywhere from your cellphone, tablet, laptop or PC.

            <div class="text-center my-2">
                  <img src="{{ url_for('static', filename='prod_img/cel.png') }}" class="img-fluid" alt="Web app cellphone view for S2" title="WiFi Water Level S2 - Smartphone Web App">
                  <img src="{{ url_for('static', filename='prod_img/tab.png') }}" class="img-fluid" alt="Web app tablet view for S2" title="WiFi Water Level S2 - Tablet Web App">
                 <br>
                 <a class="btn btn-sm btn-success ms-4" href="/device_info?public_key=demo" >View Live Demo Web App</a>
            </div>
        </li>
        <li class="list-group-item list-group-item-action list-group-item-success active ">
            <p>
                Wide measurement range from 2 cm to 400 cm (4 meters). Small <b>2 cm</b> blind area.
            </p>
        </li>

        <li class="list-group-item list-group-item-action list-group-item-primary" >
            <b>Remote Web administration of device parameters.</b><br>
            <b>Device adjust options:</b>
            <ul class="list-group ms-3 list-group-numbered" >
                <li class="list-group-item list-group-item-action list-group-item-info">
                    <b>Empty Level:</b> how many centimeters of deep have the water tank, from sensor to the water tank bottom.
                </li>
                <li class="list-group-item list-group-item-action list-group-item-dark text-white">
                    <b>Top Margin:</b> centimeters of margin from sensor location to maximum water tank level.<br>
                    This is useful in many cases, where the water tank is not filled until it is overflowing and has a shut-off valve at a certain margin of the top cover.
                </li>
                <li class="list-group-item list-group-item-action list-group-item-info">
                    <b>Water Level Measurement Frequency</b><br>
                    Adjust the level measurement frequency, useful save battery or check faster the flow level.
                </li>
            </ul>

        </li>
        <li class="list-group-item list-group-item-action list-group-item-success active">
            <b>Automatic device firmware updates to incorporate new features and improvements.</b>
        </li>
        <li class="list-group-item list-group-item-action list-group-item-primary" >
            <b>Designed and tested for outdoor and indoor use.</b><br>
            Tested and durable outdoors in sun, rain and wind, under normal conditions.
        </li>
        <li class="list-group-item list-group-item-action list-group-item-success active" >
            <b>3dBi Gain External 4GHz WiFi Antenna</b><br>
            <p>
                Ranges of more than 100 meters outdoors with line of sight. Indoors, a shorter
                range (around 50 meters) is recommended. <br>
                Compatible with 4GHz WiFi range extenders.
            </p>
        </li>
        <li class="list-group-item list-group-item-action list-group-item-primary" >
            <b>Low energy consumption.</b><br>
            <p>
                During water level sending by WiFi approximately <b>75 mA</b>.
                During waiting/sleep period <b>0.01 mA</b>
            </p>
        </li>
        <li class="list-group-item list-group-item-action list-group-item-success active" >
            <b>Modular design.</b><br>
            Independent sensor control unit, sensor, energy module and smart switch.
        </li>
        <li class="list-group-item list-group-item-action list-group-item-primary" >
           Usage temperature range from <b>-20°C (-4°F)</b> to <b>+50°C (122°F)</b>
         </li>


    </ul>


<hr class="row small_none" >

<div class="row d-flex justify-content-center mb-3 small_none d-none">

    <div class="card bg-light col-auto" >
        <div class="card-body" >
            <h3 class="card-title fw-semibold mb-4 link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover fs-5" >S2 Device Subscriptions</h3>
            <ul class="list-group ">

                {% for type in [0, 1, 2, 3] %}
                    <li class="list-group-item list-group-item-action list-group-item-light d-flex justify-content-between">

                        {% if type == 0 %}

                            <div class="row" >
                                <div class="col-auto" >
                                    <button class="btn3d btn btn-primary mx-2 btn-sm fs-5" type="submit" >
                                        <i class="ti ti-shopping-cart fs-7 mx-1"></i>
                                        Unlock Device <span class="badge bg-warning rounded-pill mx-2 fs-3">{{ UNLOCK_PRICE }} USD</span>
                                    </button>

                                    <p class="mx-2 mt-2" >
                                        Unlock this device to use it without subscriptions.
                                        <br>
                                        <span class="fs-1" >Minimum frequency updates 120 seconds.</span>
                                    </p>
                                </div>
                            </div>

                        {% elif type == 1 %}
                            <input type="hidden" name="cmd" value="_xclick-subscriptions">
                            <input type="hidden" name="item_name" value="Fast Updates">
                            <input type="hidden" name="a3" value="{{ SUBS_PRICES[type] }}"> <!-- Recurring amount -->

                            <div class="row" >
                                <div class="col-auto" >
                                    <button class="btn3d btn btn-success mx-2 btn-sm fs-5" type="submit" >
                                        <i class="ti ti-shopping-cart fs-7 mx-1"></i>
                                        Fast Updates <span class="badge bg-warning rounded-pill mx-2 fs-3">{{ SUBS_PRICES[type] }} USD/Month</span>
                                    </button>

                                    <p class="mx-2 mt-2" >Buy this monthly subscription to enable faster frequency updates up to 30 seconds.
                                        <span class="badge bg-info rounded-pill fs-1 ms-1">1-Week Free Trial</span>
                                        <br>
                                        <span class="fs-1" >Minimum frequency updates 30 seconds. Requires the <b>Basic Plan</b> or <b>Unlock Device</b></span>
                                    </p>
                                </div>
                            </div>


                        {% elif type == 2 %}
                            <input type="hidden" name="cmd" value="_xclick-subscriptions">
                            <input type="hidden" name="item_name" value="Basic Plan">
                            <input type="hidden" name="a3" value="{{ SUBS_PRICES[type] }}"> <!-- Recurring amount -->

                            <div class="row" >
                                <div class="col-auto" >
                                    <button class="btn3d btn btn-primary mx-2 btn-sm fs-5" type="submit" >
                                        <i class="ti ti-shopping-cart fs-7 mx-1"></i>
                                        Basic Plan <span class="badge bg-warning rounded-pill mx-2 fs-3">{{ SUBS_PRICES[type] }} USD/Month</span>
                                    </button>

                                    <p class="mx-2 mt-2" >
                                        Basic monthly subscription required to use the device.
                                        <span class="badge bg-info rounded-pill fs-1 ms-1">1-Week Free Trial</span>
                                        <br>
                                        <span class="fs-1" >Minimum frequency updates 120 seconds.</span>
                                    </p>
                                </div>
                            </div>


                        {% elif type == 3 %}
                            <input type="hidden" name="cmd" value="_xclick-subscriptions">
                            <input type="hidden" name="item_name" value="Fast Premium">
                            <input type="hidden" name="a3" value="{{ SUBS_PRICES[type] }}"> <!-- Recurring amount -->

                            <div class="row" >
                                <div class="col-auto" >
                                    <button class="btn3d btn btn-primary mx-2 btn-sm fs-5" type="submit" >
                                        <i class="ti ti-shopping-cart fs-7 mx-1"></i>
                                        Fast Premium <span class="badge bg-warning rounded-pill mx-2 fs-3">{{ SUBS_PRICES[type] }} USD/Month</span>
                                    </button>

                                    <p class="mx-2 mt-2" >
                                        Premium monthly subscription required to use the device that include faster frequency updates up to 30 seconds.
                                        <span class="badge bg-info rounded-pill fs-1 ms-1">1-Week Free Trial</span>
                                        <br>
                                        <span class="fs-1" >Minimum frequency updates 30 seconds.</span>
                                    </p>
                                </div>
                            </div>

                        {% endif %}
                    </li>
                {% endfor %}

            </ul>

            <div class="row my-2 alert alert-info" >
                <span class="fs-3" >
                    <i class="ti ti-info-circle fs-6 mx-1"></i>
                    To buy or manage a subscription or unlock a device a user account is not required
                </span>
            </div>

        </div>
    </div>
</div>





</div>
{% endblock %}