{% extends "base2.html" %}

{% block head %}

<script src="https://code.jquery.com/jquery-3.7.1.js"  ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"  ></script>

<link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"  ></script>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<title>Add Sensor</title>
{% endblock %}



{% block content %}


<div class="container-fluid card align-items-center justify-content-center bg-light" >
    <div class="col-md-12">
              <div class="card">
                <div class="px-4 py-3 border-bottom">
                  <h4 class="card-title mb-0">Add New Sensor</h4>

                </div>
                <div class="card-body p-4">
                    <p>
                        Use this feature to register a new S1 sensor hardware. It will allow to generate a new public and private
                        keys, that could be uploaded inside the S1 microcontroller memory.
                    </p>

                    <div class="mb-3" >
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>

                    <form method="post" action="{{ url_for('admin_dashboard') }}" >
                        <input type="hidden" name="action" value="add-sensor" >

                        {% if is_admin %}
                            <div class="mb-4">
                                <label for="PrivateKeyInput" class="form-label">Private Key:</label>
                                <input type="text" class="form-control" id="PrivateKeyInput" placeholder="Leave empty to use secure random" name="private_key">
                            </div>
                            <div class="mb-4">
                                <label for="PublicKeyInput" class="form-label">Public Key:</label>
                                <input type="text" class="form-control" id="PublicKeyInput" placeholder="Leave empty to use secure random" name="public_key">
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Device Note:</label>
                                <textarea class="form-control p-7" name="note" id="" cols="30" rows="3" placeholder="Extra info about device. (dev., ebay, amazon, ..)"></textarea>
                            </div>
                        {% else %}
                            <div class="mb-4">
                                <label for="NameInput" class="form-label">Name:</label>
                                <input type="text" class="form-control" id="NameInput" placeholder="Name for device at your account" name="name">
                            </div>
                        {% endif %}


                        <div class="mb-4" >
                            <label for="stype" class="form-label d-flex">
                            <span class="col-auto  pt-1" >Sensor Type: </span>
                                <span class="col-auto mx-2" >
                            <select id="stype" name="stype" class="form-select">
                                <option value="1">S1</option>
                            </select>
                                </span>
                            </label>
                        </div>


                      <div class="mb-4">
                        <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_PUBLIC_KEY }}"></div>
                      </div>
                      <button class="btn btn-primary">Send</button>
                  </form>

                </div>

              </div>
        <p class="alert alert-warning" role="alert" >Don't use this feature, if your device already have keys, unless you want to replace those keys by fresh microcontroller memory re-flash</p>
            </div>
</div>


<script>
    function onSubmit(event) {
        var response = grecaptcha.getResponse();
        if (response.length == 0) {
            // reCAPTCHA not verified
            alert('Please verify that you are not a robot.');
            event.preventDefault(); // Prevent form submission
            return false;
        }
        // Form submission can proceed
        return true;
    }
</script>
{% endblock %}