{% extends "base2.html" %}

{% block head %}
<title>{% trans %}Contact Form{% endtrans %}</title>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}


{% block content %}


<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
<div
  class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
  <div class="d-flex align-items-center justify-content-center w-100">
    <div class="row justify-content-center w-100">
      <div class="col-md-8 col-lg-6 col-xxl-5">
        <div class="card mb-0">
          <div class="card-body">

            <h2 class="text-center">{% trans %}Contact Form{% endtrans %}</h2>
            <form action="" method="post" onsubmit="return onSubmit(event)">

              <div class="mb-3" >
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
              </div>

    {% if not sent %}

                {% if not current_user.is_authenticated %}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">{% trans %}Email{% endtrans %}</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
                    </div>
                {% endif %}

            <div class="mb-3">
                <label for="reason" class="form-label">{% trans %}Reason for Contact:{% endtrans %}</label>
                <select id="reason" name="reason" class="form-select" required>
                    <option value="device-queries">{% trans %}Questions about devices{% endtrans %}</option>
                    <option value="purchases">{% trans %}Inquiry about purchases{% endtrans %}</option>
                    <option value="complaints">{% trans %}Complaints{% endtrans %}</option>
                    <option value="other">{% trans %}Other{% endtrans %}</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="device_type" class="form-label">{% trans %}Device Type:{% endtrans %}</label>
                <select id="device_type" name="device_type" class="form-select" required>
                    <option value="WiFi Water Level S1">WiFi Water Level S1</option>
                    <option value="Smart Water Pump Controller S1">WiFi Smart Water Pump Controller S1</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="message" class="form-label">{% trans %}Message:{% endtrans %}</label>
                <textarea id="message" name="message" class="form-control" rows="4" required placeholder="{% trans %}Enter your message here...{% endtrans %}" maxlength="500"></textarea>
            </div>

              <div class="mb-4">
                <div class="g-recaptcha row my-3 flex-row ms-auto align-items-center justify-content-center" data-sitekey="{{ RECAPTCHA_PUBLIC_KEY }}"></div>
              </div>

            <button class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" type="submit" >
                <span>
              <i class="ti ti-send"></i>
            </span> {% trans %}Send{% endtrans %}
            </button>

    {% endif %}
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>


<script>
    function onSubmit(event) {
        var response = grecaptcha.getResponse();
        if (response.length == 0) {
            // reCAPTCHA not verified
            alert('{% trans %}Please verify that you are not a robot.{% endtrans %}');
            event.preventDefault(); // Prevent form submission
            return false;
        }
        // Form submission can proceed
        return true;
    }

</script>
{% endblock %}