{% extends "base2.html" %}

{% block head %}
<title>{% trans %}My Devices{% endtrans %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/templates/devices-page.css') }}" />
{% endblock %}


{% block content %}
<div class="container-fluid">

    <div class="row">
        <h4>{% trans %}Devices List{% endtrans %} </h4>
        <ul class="list-group list-group-full" id="devices_list">
        </ul>

        <div class="col-auto my-3">
            <a class="btn btn-sm btn-success ms-4" href="{{ url_with_lang('device_info') }}?public_key=demo">{% trans %}S1 Demo Device{% endtrans %}</a>
            <a class="btn btn-sm btn-info ms-4" href="{{ url_with_lang('device_info') }}?public_key=demorelay">{% trans %}Smart Pump Demo{% endtrans %}</a>
        </div>
    </div>

    <div class="row">
        <button class="btn btn-info" id="scanQR">{% trans %}Add Device QR{% endtrans %}</button>
    </div>


</div>

<script src="{{ url_for('static', filename='assets/js/jsQR.min.js') }}"></script>
<script>
    // ---------------------------------------------------------------------------
    // Section: Devices page module bootstrap
    // - Exposes runtime strings/endpoints for devices-page.js
    // - Injects server-side user device map into frontend config
    // ---------------------------------------------------------------------------

    // Step: Build runtime config consumed by window.WLP_DEVICES_CONFIG handlers.
  window.WLP_DEVICES_CONFIG = {
    domainPrefix: "{{ DOMAIN.rstrip('/') }}/",
    deviceInfoBaseUrl: "{{ url_with_lang('device_info') }}",
    devicesPostUrl: "{{ url_for('devices') }}",
    authUser: {% if current_user.is_authenticated %}true{% else %}false{% endif %},
    addToUserMsg: "{% trans %}Add To User{% endtrans %}",
    removeMsg: "{% trans %}Remove{% endtrans %}",
    removingMsg: "Removing: ",
    removeFailMsg: "{% trans %}Device remove fails!{% endtrans %}",
    addSuccessTitle: "{% trans %}Device Add Success{% endtrans %}",
    addSuccessBody: "{% trans %}Device is now linked to your account.{% endtrans %}",
    cameraErrorMsg: "{% trans %}Error accessing the camera. Please make sure you give permission to access the camera.{% endtrans %}",
    cameraUnsupportedMsg: "{% trans %}This browser does not support the functionality necessary to scan QR codes.{% endtrans %}",
    userDevices: {
            // Step: Serialize current user devices into an object keyed by public key.
      {% if current_user.is_authenticated %}
      {% for row in current_user.get_devices() %}
      "{{ row.public_key }}": ["{{ row.name }}", {{ row.can_admin }}, {{ row.type }}, "{{ row.long_name }}"]{% if not loop.last %},{% endif %}
      {% endfor %}
      {% endif %}
    }
  };
</script>
<script src="{{ url_for('static', filename='assets/js/templates/devices-page.js') }}" defer></script>

<div class="position-fixed bottom-0 end-0 p-3 wlp-toast-container">
    <div id="liveToast" class="toast fw-bold hide" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-header"> <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#007aff"></rect>
            </svg>
            <div id="toast-info-head">
                -
            </div>

            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button> </div>
        <div id="toast-info-body">
            <div class="toast-body"> - </div>
        </div>

    </div>
</div>
{% endblock %}