{% extends "base2.html" %}

{% block head %}
<title>{% trans %}User Register{% endtrans %}</title>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="{{ url_for('static', filename='assets/js/templates/recaptcha-form.js') }}" defer></script>
<script src="{{ url_for('static', filename='assets/js/templates/register-form.js') }}" defer></script>
{% endblock %}


{% block content %}
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
<div
  class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
  <div class="d-flex align-items-center justify-content-center w-100">
    <div class="row justify-content-center w-100">
      <div class="col-md-8 col-lg-6 col-xxl-5">
        <div class="card mb-0">
          <div class="card-body">
            <a href="{{ url_with_lang('index') }}" class="text-nowrap logo-img text-center d-block py-3 w-100">
              <img src="{{ url_for('static', filename=SITE_LOGO_FILE) }}" width="180" alt="">
            </a>
            <h4 class="text-center mb-2">{% trans %}User Register{% endtrans %}</h4>
            <form action="{{ url_with_lang('register') }}" method="post"
              data-recaptcha-form="true"
              data-register-form="true"
              data-recaptcha-msg="{% trans %}Please verify that you are not a robot.{% endtrans %}"
              data-password-mismatch-msg="{% trans %}Passwords do not match!{% endtrans %}">

              <div class="mb-3">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
              </div>

              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">{% trans %}Email Address{% endtrans %}</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
              </div>
              <div class="mb-4">
                <label for="exampleInputPassword1" class="form-label">{% trans %}Password{% endtrans %}</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
              </div>
              <div class="mb-4">
                <label for="exampleInputPassword1" class="form-label">{% trans %}Password Confirm{% endtrans %}</label>
                <input type="password" class="form-control" id="exampleInputPassword2" required>
              </div>
              <div class="mb-4">
                <div class="g-recaptcha row my-3 flex-row ms-auto align-items-center justify-content-center" data-sitekey="{{ RECAPTCHA_PUBLIC_KEY }}"></div>
              </div>
              <input type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" value="{% trans %}Sign Up{% endtrans %}"/>
              <div class="d-flex align-items-center justify-content-center">
                <p class="fs-4 mb-0 fw-bold">{% trans %}Already have an Account?{% endtrans %}</p>
                <a class="text-primary fw-bold ms-2" href="{{ url_with_lang('login') }}">{% trans %}Sign In{% endtrans %}</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}