{% extends "base2.html" %}

{% block head %}

<script src="{{ url_for('static', filename='assets/js/qrcode.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/templates/relay-device-info.css') }}" />

{% endblock %}


{% block headmenu_left %}
<li class="nav-item">
  <a class="navbar-brand ">

  </a>
</li>
{% endblock %}

{% block headmenu_right %}
    <button class="btn3d btn btn-primary" id="add_device">
        <i class="ti ti-circle-plus fs-5"></i> {% trans %}Save Device{% endtrans %}
    </button>

    <button id="bookmarkBtn" class="btn3d btn btn-secondary ms-2">
        <i class="ti ti-bookmark fs-5"></i>
        {% trans %}Bookmark Device{% endtrans %}
    </button>
{% endblock %}




{% block content %}
<div class="container-fluid">

  <div class="card bg-dark position-relative overflow-hidden mb-4">
    <div class="card-body px-4 py-3">
      <div class="row align-items-center">
        <div class="col-md-9">

            <a class="nav-link ">
                <h4 class="fw-semibold mb-8 text-white">{{ model_info.long_name }}
                <button type="button" class="btn btn-sm rounded-pill bg-danger text-white d-none offline ms-2">
                      {% trans %}OFLLINE{% endtrans %} <i class="ti ti-wifi-off"></i>
                </button>
                <button type="button" class="btn btn-sm rounded-pill btn-success text-white d-none online ms-2">
                      {% trans %}ONLINE{% endtrans %} <i class="ti ti-wifi"></i>
                </button>
                </h4>
            </a>

            <button  class="btn3d btn btn-secondary fs-2" id="device_name" data-bs-toggle="modal" data-bs-target="#ChangeNameModal">
                <i class="ti ti-edit fs-6"></i>
            </button>
            <button type="button" class="btn3d btn btn-primary fs-2" data-bs-toggle="modal" data-bs-target="#ChangeNameModal">
                <strong>{% trans %}key{% endtrans %}:</strong>
                <span class="text-decoration-underline">{{ key_used }}

                </span>
            </button>

        </div>

          <div class="col-md-3">
            <div class="mid online switch-ready">
              <label class="rocker">
                <input type="checkbox" checked id="Switch" name="switch-checkbox">
                <span class="switch-left">On</span>
                <span class="switch-right">Off</span>
              </label>
            </div>
              <div class="offline row ms-4 mt-3">
                  <div class="col-auto spinner-grow text-light" role="status">
                    <span class="visually-hidden">{% trans %}Loading...{% endtrans %}</span>
                  </div>
                  <h2 class="text-white col-auto">{% trans %}OFFLINE{% endtrans %}</h2>
              </div>
              <div class="switch-busy d-none">
                 <div class="col-auto spinner-grow text-danger" role="status">
                    <span class="visually-hidden">{% trans %}Loading...{% endtrans %}</span>
                  </div>
                  <h2 class="text-white col-auto">{% trans %}BUSY{% endtrans %}</h2>
              </div>
          </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="my-3 row">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message|safe }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

      <div id="ChangeNameModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel"> {% trans %}Set Name Device{% endtrans %} </h4> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="card-body">
                      <div class="mb-4 row align-items-center">
                        <label for="set_name_input" class="form-label col-sm-3 col-form-label">{% trans %}Name{% endtrans %}</label>
                        <div class="col-sm-9">
                          <div class="input-group border rounded-1">
                            <span class="input-group-text bg-transparent px-6 border-0" id="basic-addon1">
                              <i class="ti ti-router fs-6"></i>
                            </span>
                            <input type="text" class="form-control border-0 ps-2" id="set_name_input" placeholder="{% trans %}New name here{% endtrans %}">
                          </div>
                        </div>
                      </div>
                  <div class="modal-footer"> <button type="button" class="btn3d btn btn-danger" data-bs-dismiss="modal"> {% trans %}Close{% endtrans %} </button>
                  <button type="button" class="btn3d btn btn-primary" id="set_name_btn"> {% trans %}Save{% endtrans %} </button> </div>
              </div> <!-- /.modal-content -->
          </div> <!-- /.modal-dialog -->
      </div> <!-- /.modal -->
      </div>

    </div>

        {% if device_setting.SENSOR_KEY %}
          <div class="row align-items-center">
               <a class="col-md-3 btn3d btn btn-danger fs-2"  href="{{ url_with_lang('device_info') + '?public_key=' + device_setting.SENSOR_KEY }}">{% trans %}Sensor Linked:{% endtrans %} {{ device_setting.SENSOR_KEY }}</a>
          </div>
        {% endif %}
  </div>
  </div>


<div class="row d-flex justify-content-center mb-3">

        <div class="col-md-9">
          <div class="embed-responsive embed-responsive-16by9">
              {% if device_setting.SENSOR_KEY %}
                <iframe id="SensorChart" class="embed-responsive-item w-100" height="700px" src="{{ url_with_lang('device_info') + '?public_key=' + device_setting.SENSOR_KEY }}&smallversion=1" title="Sensor Stats"></iframe>
              {% endif %}
          </div>

        </div>

    <div class="col-lg-3">
            <div class="row">

              <div class="col-lg-12 card">
                <div id="battery-chart"></div>
              </div>


              <div class="col-lg-12 card d-flex justify-content-center align-items-center">
                <h5 class="mt-4 fw-bolder">{% trans %}Wi-Fi Signal Strength{% endtrans %} </h5>

                  <div class="row mt-2 online ms-4">

                    <div class="waveStrength-3" id="rssi-symbol">
                                            <div class="wv4 wave">
                                                <div class="wv3 wave">
                                                    <div class="wv2 wave">
                            <div class="wv1 wave">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="ms-4 mt-n4 mb-2 fw-bolder">
                      <span class="rssi">{{ rssi }}</span> dBm
                    </div>
                  </div>

                  <button type="button" class="btn btn-sm rounded-pill bg-danger text-white d-none disabled offline mb-3">
                      {% trans %}OFLLINE{% endtrans %} <i class="ti ti-wifi-off"></i>
                  </button>
                  <div class="offline ms-4 mb-3 ">
                      <span class="fs-2 fw-bolder">{% trans %}offline time:{% endtrans %} </span> <span class="fs-2" id="diff_time"></span>
                  </div>
              </div>

                <div class="col-lg-12 card d-flex justify-content-center align-items-center">
                <h5 class="mt-4 fw-bolder">{% trans %}Public QR (Read-Only){% endtrans %}</h5>

                  <div class="row mt-2  d-flex justify-content-center align-items-center">
                      <button class="btn3d btn btn-danger" id="show_qr">{% trans %}Show QR{% endtrans %}</button>
                        <div id="qrcode" class="card">
                        </div>

                  </div>


              </div>



            </div>
          </div>


</div>

<hr>

<div class="row mb-5">

<p>
  <a class="btn3d btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
   {% trans %}Device Settings:{% endtrans %}
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body pt-1 px-0">
 {% if device_setting %}
        <ul class="list-group ms-3">
            <form method="post" action="{{ url_for('device_admin') }}" id="SettingsForm">
                <input type="hidden" name="action" value="relay-setting">
                <input type="hidden" name="public_key" value="{{ key_used }}">
            <li class="mb-3 list-group-item list-group-item-action bg-secondary-subtle ">
                <label type="button" class="btn bg-secondary-subtle text-primary">{% trans %}Sensor Linked:{% endtrans %}
                {% if  current_user.is_authenticated %}
                    <select class="select2 form-control custom-select select2-hidden-accessible auto-input" id="fruits"  name="SENSOR_KEY">
                      {% for usr_device in current_user.get_devices() %}
                        {% if usr_device.type in (1, 2) %}
                            <option value="{{ usr_device.public_key }}"  {% if usr_device.public_key == device_setting.SENSOR_KEY %} selected {% endif %}>
                                {{ usr_device.name or '>>' }} [{{ usr_device.public_key }}]
                            </option>
                        {% endif %}
                      {% endfor %}
                        <option value="" {% if not device_setting.SENSOR_KEY %} selected {% endif %}>{% trans %}None{% endtrans %}</option>
                    </select>
                        </label>
                    <p class="ms-4 my-3">
                        {% trans %}Connect a <b>Water Level S1</b> sensor to this smart controller.{% endtrans %}
                    </p>
                {% else %}
                    <a href="{{ url_with_lang('device_info') + '?public_key=' + device_setting.SENSOR_KEY }}">{{ device_setting.SENSOR_KEY or '{% trans %}None{% endtrans %}' }}</a>
                {% endif %}
            </li>

            <li class="basic_settings list-group-item list-group-item-action">

               <div class="form-check form-switch large-switch">
                  <input class="form-check-input auto-input" name="ALGO" type="checkbox" id="SmartModeCheckBox" disabled {% if device_setting.ALGO %} checked {% endif %}>
                  <label class="form-check-label fs-5 fw-bold" for="SmartModeCheckBox">{% trans %}Smart Mode{% endtrans %}</label>
               </div>
                <ul class="list-group my-3">

                    <li class="list-group-item list-group-item-info">
                        {% trans %}Pump <b>start</b> when water level reach{% endtrans %} <b>{{ device_setting.START_LEVEL }}% {% trans %}or lower{% endtrans %}</b>.
                    </li>
                    <li class="list-group-item list-group-item-info">{% trans %}Pump <b>stop</b> when water level reach{% endtrans %} <b>{{ device_setting.END_LEVEL }}% {% trans %}or bigger{% endtrans %}</b>.</li>                    <li class="list-group-item list-group-item-info">Pump <b>stop</b> if water level get closer to the sensor <b>blind area</b> defined at sensor linked settings.</li>                    <li class="list-group-item list-group-item-info">Pump <b>stop</b> if the sensor is <b>offline</b> or controller lose internet connection.</li>                    <li class="list-group-item list-group-item-warning">
                        <b>This is an experimental feature; do not use it without supervision.</b> <br>
                        Ensure all necessary precautions are taken, as it may not work under your specific conditions.<br>
                        <div class="btn3d btn btn-sm btn-primary" id="AdvancedSettingsButton">Use Advanced Settings</div> to customize
                        the smart mode for factors like water tank size, pump flow, and other variables.
                    </li>
                    <li class="list-group-item list-group-item-danger">
                        Carefully read the <b><a href="{{ DOMAIN }}{{ url_with_lang('manuals', product_name='WiFi-Water-Level-S1') }}" target="_blank">WiFi Water Level S1</a></b> sensor
                        installation guide before using this feature. Ensure the sensor inside the water tank is not too close to the water
                        inlet or floating valve and consistently provides accurate water level readings.
                    </li>

                </ul>
            </li>

            <li class="advanced_settings list-group-item list-group-item-action bg-secondary-subtle">
                <div class="form-check form-switch mid-switch">
                  <input class="form-check-input" name="AUTO_OFF" id="AUTO_OFFCheckBox" type="checkbox"  disabled {% if device_setting.AUTO_OFF %} checked {% endif %}>
                  <label class="form-check-label fs-5 fw-bold" for="AUTO_OFFCheckBox">{% trans %}Smart Off{% endtrans %}</label>
               </div>
                {% trans %}
                <p class="ms-4 my-3">
                    Enable the <b>smart off</b> conditions: <b>End Level</b>, <b>Blind Area</b>, <b>Not Water Flow</b>, <b>Offline Sensor</b>.<br>
                    If enabled, the pump will stop when the water level reaches <b>End Level &#37;</b> or <b>Blind Area</b>,
                    if the linked sensor goes <b>offline</b>, or if no incoming water flow is detected during the
                    <b>Flow Check</b> period.
                </p>
                <p class="ms-4 alert alert-warning" role="alert">
                    If <b>disabled</b>, the pump will <b>not stop</b> automatically, and will require click the <b>ON/OFF</b> button at UI to turn off the pump.
                </p>
                <p class="ms-4 alert alert-warning" role="alert">
                    <span class="badge text-bg-primary fw-bold">Smart Off</span> works independently of <span class="badge text-bg-danger fw-bold">Smart Mode</span>.
                    The <b>Blind Area</b> and <b>Offline Sensor</b> conditions activate with <span class="badge text-bg-primary fw-bold">Smart Off</span>,
                    even if <span class="badge text-bg-danger fw-bold">Smart Mode</span> is disabled.
                </p>
                <div class="row justify-content-md-center my-3">
                    <div class="col-md-auto my-2">
                        Don't Depends On: <span class="badge text-bg-danger fw-bold">Smart Mode</span>
                    </div>
                </div>
                {% endtrans %}
            </li>
            <li class="advanced_settings list-group-item list-group-item-action">
                <div class="form-check form-switch mid-switch">
                  <input class="form-check-input" name="AUTO_ON" id="AUTO_ONCheckBox" type="checkbox"  disabled {% if device_setting.AUTO_ON %} checked {% endif %}>
                  <label class="form-check-label fs-5 fw-bold" for="AUTO_ONCheckBox">{% trans %}Smart On{% endtrans %}</label>
               </div>
                {% trans %}
                <p class="ms-4 my-3">
                    Enable the <b>smart on</b> condition: <b>Start Level</b>.<br>
                    If enabled, the pump will start if water level reaches or falls below <b>Start Level &#37;</b>.
                </p>
                <p class="ms-4 alert alert-warning" role="alert">
                    If <b>disabled</b>, the pump will <b>not start</b> automatically, and will require click the <b>ON/OFF</b> button at UI to turn on the pump.
                </p>
                <div class="row justify-content-md-center my-3">
                    <div class="col-md-auto my-2">
                        Requires: <span class="badge text-bg-danger fw-bold">Smart Mode</span>
                    </div>
                </div>
                {% endtrans %}
            </li>
            <li class="advanced_settings list-group-item list-group-item-action bg-secondary-subtle">
                <button type="button" class="btn bg-primary-subtle text-primary">{% trans %}Start Level:{% endtrans %}</button>
                <input type="number" step="1" max="100" min="0" name="START_LEVEL" value="{{ device_setting.START_LEVEL }}" disabled> %
                {% trans %}
                <p class="ms-4 my-3">
                    Pump will start if the water level reaches or falls below this percentage.
                </p>
                <div class="row justify-content-md-center my-3">
                    <div class="col-md-auto my-2">
                        Requires: <span class="badge text-bg-success fw-bold">Smart On</span> and <span class="badge text-bg-danger fw-bold">Smart Mode</span>
                    </div>
                </div>
                {% endtrans %}
            </li>
            <li class="advanced_settings list-group-item list-group-item-action">
                <button type="button" class="btn bg-primary-subtle text-primary">{% trans %}End Level:{% endtrans %}</button>
                <input type="number" step="1" max="100" min="0" name="END_LEVEL" value="{{ device_setting.END_LEVEL }}" disabled> %
                {% trans %}
                <p class="ms-4 my-3">
                    Pump will stop if the water level reaches or pass above this percentage.
                </p>
                <div class="row justify-content-md-center my-3">
                    <div class="col-md-auto my-2">
                        Requires: <span class="badge text-bg-primary fw-bold">Smart Off</span> and <span class="badge text-bg-danger fw-bold">Smart Mode</span>
                    </div>
                </div>
                {% endtrans %}
            </li>
            <li class="advanced_settings list-group-item list-group-item-action bg-secondary-subtle">
                <button type="button" class="btn bg-primary-subtle text-primary">{% trans %}Flow Check:{% endtrans %}</button>
                <input type="number" step="1" max="120" min="0" name="MIN_FLOW_MM_X_MIN" value="{{ device_setting.MIN_FLOW_MM_X_MIN }}" disabled> {% trans %}minutes{% endtrans %}
                {% trans %}
                <p class="ms-4 my-3">
                    When the pump is <b>ON</b>, it checks every X minutes whether it is providing incoming flow.
                    If no flow is detected, the pump will <b>stop</b> and attempt to restart after <b>3 hours.</b>
                </p>
                <p class="ms-4 my-3">
                    It is recommended to use a value at least three times the sensor update frequency or higher to ensure proper collection of sensor data.
                    Additionally, depending on your specific flow speed and water tank capacity, more or less time may be required to move 1 centimeter effectively.
                </p>
                <p class="ms-4 my-3">
                    The maximum value is approximately 10 times the sensor update frequency plus 2 minutes, as the pump controller currently stores only the last 10 sensor updates for this feature.
                </p>
                <p class="ms-4 alert alert-info" role="alert">
                    To disable the <b>Flow Check</b> feature, set the value to <b>zero (0)</b>.
                </p>
                <div class="row justify-content-md-center my-3">
                    <div class="col-md-auto my-2">
                        Requires: <span class="badge text-bg-danger fw-bold">Smart Mode</span>
                    </div>
                    <div class="col-md-auto my-2">
                        Don't Depends On: <span class="badge text-bg-primary fw-bold">Smart Off</span>
                    </div>
                </div>
                {% endtrans %}
            </li>
            <li class="advanced_settings list-group-item list-group-item-action">
                <button type="button" class="btn bg-primary-subtle text-primary">{% trans %}Blind Distance:{% endtrans %}</button>
                <input type="number" step="1" max="120" min="0" name="BLIND_DISTANCE" value="{{ device_setting.BLIND_DISTANCE }}" disabled> CM

                {% trans %}
                <p class="ms-4 my-3">
                    The pump <b>stop</b> if reach the sensor blind distance.
                </p>

                <p class="ms-4 my-3 alert alert-danger" role="alert">
                    It is important to make all necessary adjustments to avoid exceeding the sensor's blind distance.
                    Otherwise, the sensor may report random water level measurements, potentially causing
                    <b>erratic behavior</b> in the automatic pump feature.
                </p>

                <ul class="list-group my-3 mx-3">
                    <h6 class="ms-4">
                        Common Sensor Blind Distances
                    </h6>
                    <li class="list-group-item list-group-item-action">
                        <b>AJ-SR04M: </b> 20 CM
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <b>RCWL-1670: </b> 2 CM
                    </li>
                </ul>
                <div class="row justify-content-md-center my-3">
                    <div class="col-md-auto my-2">
                        Requires: <span class="badge text-bg-primary fw-bold">Smart Off</span> and <span class="badge text-bg-danger fw-bold">Smart Mode</span>
                    </div>
                    <div class="col-md-auto my-2">
                        Don't Depends On: <span class="badge text-bg-danger fw-bold">Smart Mode</span> if <span class="badge text-bg-warning fw-bold">Safe Mode</span> in <b>ON</b>
                    </div>
                </div>
                {% endtrans %}
            </li>
            <li class="advanced_settings list-group-item list-group-item-action bg-secondary-subtle">
                <button type="button" class="btn bg-primary-subtle text-primary">{% trans %}Disabled Hours:{% endtrans %}</button>
                <input id="hours_off" type="text" name="HOURS_OFF" value="{{ device_setting.HOURS_OFF if device_setting.HOURS_OFF else '' }}" disabled> GTM-4

                {% trans %}
                <p class="ms-4 my-3">
                    Comma separated list of GMT-4 hours when the pump will not start. Example: 23,0,1,2,3,4,5,6,7,8,9 <br>
                    Useful to avoid pump start at specific hours, use GMT-4 timezone.
                </p>

                <div class="ms-4 my-2 alert alert-info">
                    Local Timezone Converter: <span class="badge text-bg-primary fw-bold" id="timezone_name">-</span>
                    <input id="local_hours_off" type="text"  value="" disabled>
                </div>


                <p class="ms-4 my-3">
                    If the pump is running and <span class="badge text-bg-primary fw-bold">Smart Mode</span> is enabled,
                    it will stop when <span class="badge text-bg-success fw-bold">Disabled Hours</span> begin.
                </p>
                <p class="ms-4 my-3 alert alert-warning" role="alert">
                    <span class="badge text-bg-primary fw-bold">Smart Off</span> don't influence or disable this feature.
                </p>
                <div class="row justify-content-md-center my-3">
                    <div class="col-md-auto my-2">
                        Requires: <span class="badge text-bg-danger fw-bold">Smart Mode</span>
                    </div>
                    <div class="col-md-auto my-2">
                        Don't Depends On: <span class="badge text-bg-primary fw-bold">Smart Off</span>
                    </div>
                </div>
                {% endtrans %}
            </li>

            <li class="advanced_settings list-group-item list-group-item-action">
               <div class="form-check form-switch mid-switch">
                  <input class="form-check-input" name="SAFE_MODE" type="checkbox" id="SafeModeCheckBox" disabled {% if device_setting.SAFE_MODE %} checked {% endif %}>
                  <label class="form-check-label fs-4 fw-bold" for="SafeModeCheckBox">{% trans %}Safe Run{% endtrans %}</label>
               </div>

                {% trans %}
                <p class="ms-4 my-3 alert alert-info" role="alert">
                    In safe mode, the <span class="badge text-bg-danger fw-bold">Smart Mode</span>
                    will be disabled, and the pump will turn <b>OFF</b> if the device moves beyond the <b>blind area</b> by more
                    than <b>2 centimeters</b>, or if the sensor reports <b>zero distance</b> (indicating a disconnected sensor cable).
                </p>
                <div class="row justify-content-md-center my-3">
                    <div class="col-md-auto my-2">
                        Requires: <span class="badge text-bg-primary fw-bold">Smart Off</span>
                    </div>
                    <div class="col-md-auto my-2">
                        Don't Depends On: <span class="badge text-bg-danger fw-bold">Smart Mode</span>
                    </div>
                </div>
                {% endtrans %}
            </li>

            <li class="d-none advanced_settings list-group-item list-group-item-action bg-secondary-subtle" id="can_edit_btn">
                <button class="btn3d btn btn-success">{% trans %}Update Settings{% endtrans %}</button>
            </li>
            </form>
            {% if not current_user.is_authenticated %}
            <div class="alert alert-info my-3" role="alert">{% trans %}To edit settings{% endtrans %} <a href="{{ url_with_lang('login') }}">{% trans %}Login{% endtrans %}</a> {% trans %}or{% endtrans %} <a href="{{ url_with_lang('register') }}">{% trans %}Register{% endtrans %}</a> {% trans %}a user account{% endtrans %}</div>
            {% else %}
                <div class="alert alert-info my-4 cant_edit" role="alert">
                    {% trans %}To edit settings, scan the QR code belonging to the device's private key.{% endtrans %}
                    <button class="btn btn-secondary mx-3" id="qr_scan_prv">{% trans %}Scan Private QR{% endtrans %}</button>
                    <div id="resultado"></div>
                </div>
            {% endif %}
            </li>

            </li>
        </ul>

    {% else %}
        <b>{% trans %}None{% endtrans %}</b>
    {% endif %}
  </div>
</div>

</div>

<hr>
<div class="row justify-content-md-center my-3">
    <div class="col-md-auto my-2">
        <button class="btn3d btn btn-success" id="show_events">{% trans %}Show Live Device Events{% endtrans %}</button>
    </div>
    <div class="ms-1 my-3" id="events">
        <div class="alert alert-info d-none" role="alert" id="no_event">
            {% trans %}No events reported yet by device!{% endtrans %}
        </div>
    </div>
</div>

<hr>

<div class="row justify-content-md-center my-3">
    <div class="col-md-auto my-2">
        <button class="btn3d btn btn-info" id="show_events_past">{% trans %}Show Past 20 Events{% endtrans %}</button>
    </div>

    <div id="no_event_past" class="d-none">
        {% if not DISPLAY_EVENTS %}
        <div class="row ms-1 my-3">
            <div class="alert alert-info d-none" role="alert">
                {% trans %}No events reported yet by device!{% endtrans %}
            </div>
        </div>
        {% else %}
            {% for disp_event in DISPLAY_EVENTS %}
                <div class="alert alert-warning" role="alert">
                    {{ disp_event|safe }}
                </div>
            {% endfor %}
        {% endif %}
    </div>


</div>

<hr>

<div class="position-fixed bottom-0 end-0 p-3 wlp-toast-container">
    <div id="liveToast" class="toast fw-bold hide" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-header"> <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#007aff"></rect>
            </svg>
            <div id="toast-info-head">
                -
            </div>

            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button> </div>
        <div id="toast-info-body">
            <div class="toast-body"> - </div>
        </div>

    </div>
</div>

</div>


<script>

// -----------------------------------------------------------------------------
// Section: Live relay telemetry polling and UI synchronization
// - Reads current relay state from backend
// - Updates online/offline indicators and RSSI strength icon
// - Reconciles optimistic switch state while command is pending
// -----------------------------------------------------------------------------

// Runtime UI/control flags for relay page state synchronization.
var offline = true;
var device_key = '{{ key_used }}';
var waiting_status = -1;
var waiting_counter = 0;
var show_events = false;

// Converts seconds into a compact human-readable duration (e.g., "1h 3m 20s").
function formatDuration(durationInSeconds) {
  const seconds = durationInSeconds % 60;
  const minutes = Math.floor((durationInSeconds / 60) % 60);
  const hours = Math.floor(durationInSeconds / 3600);

    // Step: Build a compact duration label.
  const formattedDuration = `${hours ? `${hours}h ` : ''}${minutes ? `${minutes}m ` : ''}${seconds}s`;

  return formattedDuration;
}

function fetchData() {
    // Polls relay status from API and updates all live UI widgets.
    $.get("{{API_URL}}/relay_view_api?public_key={{ key_used }}", function(data) {

        // Section: last-seen timestamp and basic signal values.

        if(data.diff_time != 0){
            $('#diff_time').text( formatDuration(data.diff_time));
         }else{
            $('#diff_time').text('unknown');
         }

         $('.rssi').text(data.rssi);

        // Section: optional event stream panel rendering.
        if (show_events && Array.isArray(data.events) && data.events.length > 0) {
            // Step: Build an event summary badge list for the latest payload.
            const now = new Date();
            const localDatetime = now.toLocaleString(); // Step: Generate localized date/time stamp.

            $('#no_event').hide();
            let alertBox = `<div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <span class="badge text-bg-info fw-bold">${localDatetime}</span>
                `;

            data.events.forEach(function(item) {
                alertBox = alertBox +`
                    <span class="badge text-bg-primary fw-bold">${item}</span>
                `;

            });
            alertBox = alertBox + `<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>`;
            $('#events').prepend(alertBox);
        }




         // Section: map RSSI value to signal-wave visual class.
         let rssi_val = parseInt(data.rssi);
         $('#rssi-symbol').removeAttr("class");
         if(rssi_val <= -80){
            $('#rssi-symbol').addClass("waveStrength-1");
         }else if(rssi_val <= -70){
            $('#rssi-symbol').addClass("waveStrength-2");
         }else if(rssi_val <= -60){
            $('#rssi-symbol').addClass("waveStrength-3");
         }else if(rssi_val > -60){
            $('#rssi-symbol').addClass("waveStrength-4");
         }

         let device_pool_time = 30;
        // Consider device data stale after 30 seconds.
        console.log(data);

         // Section: online/offline gate and switch availability.
         if(parseInt(data.diff_time) > device_pool_time || parseInt(data.rtime) == 0){
            $('.offline').removeClass('d-none');
            $('.online').addClass('d-none');
             $("#Switch").prop('disabled', true);
            offline = true;
         }else{
            $('.online').removeClass('d-none');
            $('.offline').addClass('d-none');
            $("#Switch").prop('disabled', false);
            offline = false;
         }


         // Section: optimistic switch state reconciliation after command send.
         if(waiting_status == data.status){
            waiting_status = -1;
            waiting_counter = 0;

            $('.switch-ready').removeClass('d-none');
            $('.switch-busy').addClass('d-none');

         }else if(waiting_status != -1){
            waiting_counter += 1;

            $('.switch-ready').addClass('d-none');
            $('.switch-busy').removeClass('d-none');
         }else{
             if(data.status == 1){
                $("#Switch").prop("checked", true);
             }else{
                $("#Switch").prop("checked", false);
             }
         }

         // Section: timeout fallback if status does not converge.
         if(waiting_counter > 5){
            waiting_status = -1;
            waiting_counter = 0;

            $('.switch-ready').removeClass('d-none');
            $('.switch-busy').addClass('d-none');

            alert('{% trans %}Switch operation fails, check smart settings or internet connection!{% endtrans %}');
         }




    });
}

// Starts the periodic relay polling loop.
$(document).ready(function() {
    fetchData();
    setInterval(fetchData, 10000); // Refresh every 10 seconds.
});
</script>

<script>
    // Relay switch action handlers.

    // -------------------------------------------------------------------------
    // Section: Relay command dispatch
    // - Sends ON/OFF command immediately when user toggles switch
    // - Shows busy state until next telemetry confirmation
    // -------------------------------------------------------------------------

$(document).ready(function() {


    // Step: Send relay ON/OFF command and mark UI state as pending.
    $("#Switch").change(function() {

        let action_value = 'on';
        waiting_status = 1;
        waiting_counter = 0;
        if(!this.checked){
            action_value = 'off';
            waiting_status = 0;
        }

        $('.switch-busy').removeClass('d-none');
        $('.switch-ready').addClass('d-none');

        $.post("{{API_URL}}/relay_view_api", { action: action_value, public_key: device_key})
          .done(function( data ) {

        });

    });



});
</script>


<script>
// Auto-submit and advanced settings UI handlers.

// -----------------------------------------------------------------------------
// Section: Settings interactions
// - Auto-submit configurable inputs
// - Toggle advanced settings visibility
// - Activate event panels and scroll to selected section
// -----------------------------------------------------------------------------

$(document).ready(function() {

    // Step: Auto-submit settings when any field marked as auto-input changes.
    $('.auto-input').change(function() {

        // Step: Submit the settings form after any tracked input change.
        $('#SettingsForm').submit();
    });

    // Step: Reveal advanced configuration controls.
    $('#AdvancedSettingsButton').click(function() {
        $('.advanced_settings').css('display', 'block');
    });


    // Step: Enable live event mode and scroll to the live event panel.
    $('#show_events').click(function() {

        $('#show_events').text('Live Device Events: ');
        show_events = true;
        $('#no_event').removeClass('d-none');
        $('html, body').animate({
            scrollTop: $("#no_event").offset().top
        }, 500);
    });

    // Step: Show historical events panel and scroll to that section.
    $('#show_events_past').click(function() {

        $('#show_events_past').text('Past 20 Events: ');

        $('#no_event_past').removeClass('d-none');
        $('html, body').animate({
            scrollTop: $("#no_event_past").offset().top
        }, 500);
    });



});


</script>

<script>
// JS Timezone Logic

// -----------------------------------------------------------------------------
// Section: Timezone conversion helpers for smart schedule hours
// - Displays browser timezone label
// - Keeps local-time and GMT-4 schedule inputs in sync
// -----------------------------------------------------------------------------

$(document).ready(function() {

    var lock_local = false;
    var lock_gmt = false;

    var BrowserTimeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;
    $('#timezone_name').text(BrowserTimeZone);

    let local_hours_off = convertToLocalTime('{{ device_setting.HOURS_OFF if device_setting.HOURS_OFF else '' }}');
    $('#local_hours_off').val(local_hours_off);

    // Step: Sync local-hours input into GMT-4 input without recursive updates.
    $('#local_hours_off').on('input', function() {
        if(lock_local) return;

        lock_gmt = true;
        let hours_off = convertToGMTMinus4($(this).val());
        $('#hours_off').val(hours_off);
        lock_gmt = false;
    });

    // Step: Sync GMT-4 input back into local-hours input without recursive updates.
    $('#hours_off').on('input', function() {
        if(lock_gmt) return;

        lock_local = true;
        let local_hours_off2 = convertToLocalTime($(this).val());
        $('#local_hours_off').val(local_hours_off2);
        lock_local = false;
    });

});


// Section: Hour-list conversion utilities.
// Step: Convert a comma-separated GMT-4 hour list to browser-local hour list.
function convertToLocalTime(hourList) {
  if (!hourList || hourList.length === 0) {
    return '';
  }

  const regex = /^([0-9]|1[0-9]|2[0-3])(?:,([0-9]|1[0-9]|2[0-3]))*$/;

  if (!regex.test(hourList)) {
    return '';
  }

  const localTimeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;

  const today = new Date();
  const baseDate = `${today.getFullYear()}-${(today.getMonth() + 1)
    .toString()
    .padStart(2, '0')}-${today.getDate().toString().padStart(2, '0')}`;

  const convertedHours = hourList
    .split(',')
    .map(hour => parseInt(hour.trim(), 10))
    .map(hour => {
            // Step: Build an ISO date using GMT-4 offset.
      const gmtDate = new Date(`${baseDate}T${hour.toString().padStart(2, '0')}:00:00-04:00`);
      const localHour = gmtDate.toLocaleTimeString().split(':')[0];

      return localHour;
    });

  return convertedHours.join(',');
}


function convertToGMTMinus4(hourList) {

    // Step: Convert a comma-separated local hour list to GMT-4 hour list.

  if (hourList === undefined || hourList.length <= 0) {
    return '';
  }

  const regex = /^([0-9]|1[0-9]|2[0-3])(?:,([0-9]|1[0-9]|2[0-3]))*$/;

  if (!regex.test(hourList)) {
    return '';
  }

  const targetTimeZone = 'Etc/GMT+4'; // GMT-4
  const localTimeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;

    // Step: Parse the hour list into numeric values.
  const hours = hourList.split(',').map(hour => parseInt(hour.trim(), 10));

  const convertedHours = hours.map(hour => {
        // Step: Build a date object with the selected local hour.
    let localDate = new Date();
    const formattedDate = localDate.toLocaleString('en-US', { timeZone: localTimeZone });
    localDate = new Date(formattedDate);

        localDate.setHours(hour, 0, 0, 0); // Step: Reset minute/second/millisecond precision.

        // Step: Convert that local date into GMT-4.
    const gmtDate = new Date(
      localDate.toLocaleString("en-US", { timeZone: targetTimeZone })
    );

        // Step: Extract target timezone hour.
    return gmtDate.getHours();
  });

    // Step: Serialize the converted hour list back to CSV format.
  return convertedHours.join(',');
}

</script>

<script src="{{ url_for('static', filename='assets/js/templates/device-page-common.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jsQR.min.js') }}"></script>
<script>
// -----------------------------------------------------------------------------
// Section: Device page common-module bootstrap
// - Builds page-specific config payload from Jinja values
// - Initializes shared handlers from device-page-common.js
// -----------------------------------------------------------------------------

$(document).ready(function() {
    // Step: Provide runtime config consumed by WLPDevicePage.init.
        window.WLP_DEVICE_PAGE_CONFIG = {
            deviceKey: "{{ key_used }}",
            userDeviceName: {% if current_user.is_authenticated %}{{ current_user.get_device_name(key_used)|tojson }}{% else %}""{% endif %},
            modelLongName: {{ model_info.long_name|tojson }},
            authUser: {% if current_user.is_authenticated %}true{% else %}false{% endif %},
            devicesPostUrl: "{{ url_with_lang('devices') }}",
            deviceNameSelector: "#device_name",
            setNameButtonSelector: "#set_name_btn",
            setNameInputSelector: "#set_name_input",
            changeNameModalSelector: "#ChangeNameModal",
            addDeviceSelector: "#add_device",
            bookmarkSelector: "#bookmarkBtn",
            bookmarkMessage: {% trans %}"to bookmark this page."{% endtrans %},
            toastTitle: {% trans %}"Device Add Success"{% endtrans %},
            toastBody: {% trans %}"If not user logged, device will be stored only at your local browser."{% endtrans %},
            enableAdminEditing: {% if current_user.is_admin or can_admin %}true{% else %}false{% endif %},
            canEditButtonSelector: "#can_edit_btn",
            cantEditSelector: ".cant_edit",
            showPublicQrSelector: "#show_qr",
            publicQrTargetSelector: "#qrcode",
            publicQrText: "{{ DOMAIN }}{{ url_with_lang('device_info') }}?public_key={{ key_used }}",
            privateScanButtonSelector: "#qr_scan_prv",
            scanResultSelector: "#resultado",
            domainPrefix: "{{ DOMAIN.rstrip('/') }}/",
            requirePrivateKeyParam: "private_key=",
            privateKeyMissingMsg: {% trans %}"QR don't contains a private key"{% endtrans %},
            cameraErrorMsg: {% trans %}"Error accessing the camera. Please make sure you give permission to access the camera."{% endtrans %},
            cameraUnsupportedMsg: {% trans %}"This browser does not support the functionality necessary to scan QR codes."{% endtrans %}
        };

        window.WLPDevicePage.init(window.WLP_DEVICE_PAGE_CONFIG);
});
</script>

{% endblock %}
