{% extends "base2.html" %}

{% block head %}

<title>WiFi Water Level S2 Manual | Installation and Setup Guide</title>

<meta name="description" content="Learn how to install and set up the WiFi Water Level S2 with this comprehensive manual. Get detailed instructions for optimal use.">
<meta name="keywords" content="WiFi Water Level S2 Manual, Water Level Sensor Installation, WiFi Water Sensor Setup, Water Level S2 Guide, WiFi Water Level Instructions">
<meta name="robots" content="index, follow">

<meta property="og:title" content="WiFi Water Level S2 Manual | Installation and Setup Guide">
<meta property="og:description" content="Learn how to install and set up the WiFi Water Level S2 with this comprehensive manual. Get detailed instructions for optimal use.">
<meta property="og:image" content="{{ DOMAIN }}{{ url_for('static', filename='manuals/s1_face.png') }}">
<meta property="og:url" content="{{ DOMAIN }}{{ url_with_lang('manuals', product_name='WiFi-Water-Level-S2') }}">

<meta name="twitter:card" content="{{ DOMAIN }}{{ url_for('static', filename='manuals/s1_face.png') }}">
<meta name="twitter:title" content="WiFi Water Level S2 Manual | Installation and Setup Guide">
<meta name="twitter:description" content="Learn how to install and set up the WiFi Water Level S2 with this comprehensive manual. Get detailed instructions for optimal use.">
<meta name="twitter:image" content="{{ DOMAIN }}{{ url_for('static', filename='manuals/s1_face.png') }}">


<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Product",
  "name": "WiFi Water Level S2 Manual",
  "image": "{{ DOMAIN }}{{ url_for('static', filename='manuals/s1_face.png') }}",
  "description": "Learn how to install and set up the WiFi Water Level S2 with this comprehensive manual. Get detailed instructions for optimal use.",
  "sku": "S2-Manual",
  "brand": {
    "@type": "Brand",
    "name": "Water Level .Pro"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ DOMAIN }}{{ url_with_lang('manuals', product_name='WiFi-Water-Level-S2') }}"
  },
  "additionalProperty": [
    {
      "@type": "PropertyValue",
      "name": "Control Unit",
      "value": "Contains WiFi antenna, setup/reset button, and power inputs."
    },
    {
      "@type": "PropertyValue",
      "name": "Internal Water Tank Sensor",
      "value": "Measures water level and must be placed inside the water tank."
    },
    {
      "@type": "PropertyValue",
      "name": "Installation Steps",
      "value": "Includes WiFi coverage check, power supply options, and setup instructions."
    }
  ],
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": 4.9,
        "reviewCount": 9
      },
      "positiveNotes": {
            "@type": "ItemList",
            "itemListElement": [
              {
                "@type": "ListItem",
                "position": 1,
                "name": "Solar Powered"
              },
              {
                "@type": "ListItem",
                "position": 2,
                "name": "Unlimited monitoring range."
              }
            ]
      }
}
</script>


<style>
.long-img-area {
  max-width: 650px;
  margin: 35px auto;
}
</style>
{% endblock %}



{% block content %}
<div class="container-fluid">

  <div class="d-flex">
    <div class="p-2">
        <h5 class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" >Manual: WiFi Water Level S2</h5>
    </div>
    <div class="ms-auto">
        <a href="/products/WiFi-Water-Level-S2" target="_self" class="btn btn-sm btn-primary mb-3">
            <i class="ti ti-list-details"></i> S2 Features
        </a>
    </div>
  </div>

    <div class="row" >
      <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100 bg-light">
              <div class="card-body">
                <div class="mb-4">
                  <h4 class="card-title mb-2 link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" >WiFi Water Level S2 Parts</h4>
                  <div class="text-center">

                    <div id="carouselExampleAutoplaying1" class="carousel long-img-area" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="7000">

                          <img src="{{ url_for('static', filename='manuals/s1_face.png') }}" class="d-block w-100" alt="WiFi Water Level S2 Features" title="WiFi Water Level S2 Features">

                        </div>
                        <div class="carousel-item" data-bs-interval="7000">
                          <img src="{{ url_for('static', filename='manuals/s1_face2.png') }}" class="d-block w-100" alt="WiFi Water Level S2 - How It Works" title="How WiFi Water Level S2 Works" >
                        </div>

                        <div class="carousel-item" data-bs-interval="7000">
                          <img src="{{ url_for('static', filename='manuals/wifi_water_level_s2.png') }}" class="d-block w-100" alt="WiFi Water Level S2 - Product Image" title="WiFi Water Level S2 - Product Image" >
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying1" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying1" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="accordion" id="accordionPart">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne1">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePartOne" aria-expanded="true" aria-controls="collapsePartOne">
                        Control Unit
                      </button>
                    </h2>
                    <div id="collapsePartOne" class="accordion-collapse collapse" aria-labelledby="headingOne1" >
                      <div class="accordion-body">
                        <h5>The <strong>Control Unit</strong> is placed on the outside of the water tank.</h5>
                        <div class="text-center ">
                          <img src="{{ url_for('static', filename='manuals/s1_parts.png') }}" class="img-thumbnail" alt="S2 Parts - Control Unit" title="WiFi Water Level S2 - Control Unit Parts" >
                          <img src="{{ url_for('static', filename='manuals/s1_parts2.png') }}" class="img-thumbnail" alt="S2 Parts - Control Unit" title="WiFi Water Level S2 - Control Unit Parts" >
                          <img src="{{ url_for('static', filename='manuals/s1_parts3.png') }}" class="img-thumbnail" alt="S2 Parts - Control Unit" title="WiFi Water Level S2 - Control Unit Parts" >
                        </div>
                        <ul class="list-group ms-3" >
                          <li class="list-group-item list-group-item-action" >
                            <b>A) </b> WiFi antenna.
                          </li>
                          <li class="list-group-item list-group-item-action" >
                            <b>B) </b> WiFi Setup/Reset button.
                          </li>
                          <li class="list-group-item list-group-item-action" >
                           <b>C) </b> USBC power input (from 3.6 to 5 V DC).
                          </li>
                          <li class="list-group-item list-group-item-action" >
                           <b>D) </b> USBC cable for internal water tank sensor.
                          </li>
                          <li class="list-group-item list-group-item-action" >
                           <b>E) </b> Extension mount for <b>Solar Power Module</b>
                          </li>
                          <li class="list-group-item list-group-item-action" >
                           <b>F) </b> Main clamping force screw.
                          </li>

                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePartTwo" aria-expanded="false" aria-controls="collapsePartTwo">
                        Internal Water Tank Sensor
                      </button>
                    </h2>
                    <div id="collapsePartTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" >
                      <div class="accordion-body">
                        <h5>This is the <b>Sensor Unit</b>, that should be located inside the water tank, tied by the main clamping force screw <b>F)</b>.</h5>
                        <div class="text-center ">
                          <img src="{{ url_for('static', filename='manuals/s2_parts4.png') }}" class="img-thumbnail" alt="S2 Parts - Internal Water Tank Sensor" title="WiFi Water Level S2 - Internal Water Tank Sensor Parts">
                        </div>
                        <ul class="list-group ms-3" >
                          <li class="list-group-item list-group-item-action" >
                            <b>G) </b> USBC to connect <b>Control Unit</b>
                          </li>
                          <li class="list-group-item list-group-item-action" >
                            <b>H) </b> Fastening hole to the main clamping force screw.
                          </li>
                          <li class="list-group-item list-group-item-action" >
                           <b>J) </b>Water level sensor. Place this sensor in front of the water to measure the level.
                          </li>
                        </ul>

                        </ul>
                      </div>
                    </div>
                  </div>



                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading3">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePart3" aria-expanded="false" aria-controls="collapsePart3">
                        USBC Flexible Covers
                      </button>
                    </h2>
                    <div id="collapsePart3" class="accordion-collapse collapse" aria-labelledby="heading3" >
                      <div class="accordion-body">
                        <p class="alert alert-warning" >
                          All USBC connections should be protected from moisture and water using the red flexible
                          USBC protectors. Especially in the case of the internal sensor of the water tank,
                          where continuous extreme humidity is generated.
                        </p>
                        <div class="text-center ">
                          <img src="{{ url_for('static', filename='manuals/usbc_covers.png') }}" class="img-thumbnail" alt="S2 Parts - USB-C covers" title="WiFi Water Level S2 Parts - USB-C covers">
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
  </div>



    <div class="row" >
        <div class="col-lg-12 d-flex align-items-stretch">
              <div class="card w-100 bg-light">
                <div class="card-body">
                  <div class="mb-4">
                    <h4 class="card-title mb-2 link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Installation</h4>

                  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="3000">
                        <img src="{{ url_for('static', filename='manuals/mount_9.png') }}" class="d-block w-100" alt="WiFi Water Level S2 - Installed at watter tank." title="S2 on water tank">
                      </div>
                      <div class="carousel-item" data-bs-interval="3000">
                        <img src="{{ url_for('static', filename='manuals/mount_10.png') }}" class="d-block w-100" alt="WiFi Water Level S2 - Installed at watter tank." title="S2 on water tank" >
                      </div>
                      <div class="carousel-item" data-bs-interval="3000">
                        <img src="{{ url_for('static', filename='manuals/mount_8.png') }}" class="d-block w-100" alt="WiFi Water Level S2 - On tank cover" title="S2 on tank cover">
                      </div>
                      <div class="carousel-item" data-bs-interval="3000">
                        <img src="{{ url_for('static', filename='manuals/mount_7_s2.png') }}" class="d-block w-100" alt="WiFi Water Level S2 - Internal sensor under tank cover" title="S2 internal sensor under tank cover" >
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>


                  </div>
                  <div class="accordion" id="accordionExample">
                    <div class="accordion-item ">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          #1 Check WiFi Coverage
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                        <div class="accordion-body">
                          <h5>Ensure that good 4GHz WiFi signal will reach the device area all the time.</h5>
                          <ul class="list-group ms-3 list-group-numbered" >
                            <li class="list-group-item list-group-item-action" >
                              Check device web page info, and ensure WiFi signal strength remains between <b>-30 dBm</b> and <b>-78 dBm.</b>
                            </li>
                            <li class="list-group-item list-group-item-action" >
                              If WiFi signal strength is weak consider add WiFi range extenders.
                            </li>
                            <li class="list-group-item list-group-item-action list-group-item-warning" >
                              Note, this device require stable WiFi and internet connection over the WiFi in order to work properly.
                            </li>

                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          #2 Choose Power Supply
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" >
                        <div class="accordion-body">
                          <h5>This device use a standard <b>USBC</b> for power input. Some of the options are:</h5>
                          <ul class="list-group ms-3" >
                            <li class="list-group-item list-group-item-action" >
                              <button class="btn btn-info btn-sm" >* <b>Solar Power Module For S2</b></button>
                              <p class="ms-3" >
                                In places where sunlight hits directly for at least 3 or more hours a day, you can use the
                                solar module specially designed and tested for the S2.
                              </p>
                               <ul class="list-group ms-3" >
                                 <li class="list-group-item list-group-item-action" >
                                   Full wireless, not manual recharge necessary during years, if device area receive enough sunlight.
                                 </li>
                                 <li class="list-group-item list-group-item-action" >
                                   Designed and tested for exteriors, resist rain water, sunlight, and normal climate conditions at exteriors.
                                 </li>
                                 <li class="list-group-item list-group-item-action" >
                                   Usage temperature range from <b>-20°C (-4°F)</b> to <b>+50°C (122°F)</b>
                                 </li>
                                 <li class="list-group-item list-group-item-action" >
                                     Internal battery use 3x AA NiMH rechargeable batteries.
                                      Easy maintenance and backup energy while sunlight decay.
                                 </li>
                                 <li class="list-group-item list-group-item-action" >
                                   Ensure use good brand and quality AA NiMH batteries, 2000 mA or more.
                                 </li>
                                 <li class="list-group-item list-group-item-action list-group-item-danger" >
                                    Only use AA NiMH rechargeable batteries.
                                 </li>
                               </ul>
                            </li>
                            <li class="list-group-item list-group-item-action" >
                              <button class="btn btn-info btn-sm" >* <b>USBC</b> cellphone charger</button>
                              <p class="ms-3" >
                                If device is closer to a AC power, a standard <b>USBC</b> cellphone charger can be used.
                              </p>
                            </li>
                            <li class="list-group-item list-group-item-action" >
                              <button class="btn btn-info btn-sm" >* <b>USBC</b> power banks</button>
                              <p class="ms-3" >
                                Depending on the water level measurement frequency configured for the device, it could consume up to
                                70 mA for approximately 6 seconds at 3.3V, each cycle. If you can expect long water level measurement cycles of
                                many minutes, a power bank could last weeks depending on its capacity.
                              </p>
                              <p class="ms-3" >
                                For example using <b>2 minutes</b> water level measurement frequency, and 5V DC,
                                it could spend at minimum more than <b>1000 mA</b> per each day. For <b>2 weeks duration (14 days)</b>
                                a power bank with more than <b>14,000 mA</b> at <b>5V</b> will be required.
                              </p>
                            </li>
                            <li class="list-group-item list-group-item-action list-group-item-warning" >
                              Note, device will accept input voltages from 3.6 V to 5 V.<br>
                              In case of battery usages, ensure device don't remain with minimal voltage (under 3.5 V) for log periods.
                            </li>
                            <li class="list-group-item list-group-item-action list-group-item-danger" >
                              <p class="ms-3 " >
                              Note AC/DC power usage require special safety precautions on exteriors or places near water, contact a qualified electrician if needed.
                              Make sure cables are properly insulated from water and unpredictable weather conditions.
                              </p>
                            </li>

                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                         #3 Setup Device WiFi Connection
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" >
                        <div class="accordion-body">
                          <p>In this step, configure the device to connect to your local internet WiFi network</p>
                          <p>Steps:</p>
                          <ul class="list-group ms-3" >
                            <li class="list-group-item list-group-item-action">
                              <b>1)</b> Connect the device to a power source. Ensure WiFi antenna is connected at <b>Control Unit (part A)</b>.
                            </li>
                            <li class="list-group-item list-group-item-action" >
                              <b>2)</b> Using a cellphone, search and connect to a 4GHz WiFi network named <b>WaterLevelProSetup</b> with credentials/password: <b>1122334455</b>
                              <p class="alert alert-warning my-2">
                                If the network name doesn't show or disappears quickly, check USBC power input or press the WiFi setup reset button at <b>Control Unit (part B)</b>.
                              </p>
                            </li>
                            <li class="list-group-item list-group-item-action" >
                              <b>3) Enter your local WiFi auth info.</b>
                              <p class="my-2">
                                After complete step <b>2)</b> a Captive Portal at cellphone will guide to a Web page that will allow select the WiFi and credentials that will use the device.
                              </p>
                              <p class="alert alert-warning my-2">
                                If the Captive Portal don't load automatically use this url
                                <a href="http://192.168.4.1/" target="_blank">http://192.168.4.1/</a> to load it manually from cellphone.
                              </p>
                            </li>
                            <li class="list-group-item list-group-item-action">
                              <b>4) Check your device is online</b>
                              <p class="my-2">
                                Connect back your cellphone to internet and scan your device public QR code. If all was fine you will see the online status.
                              </p>
                              <p class="alert alert-warning my-2">
                                If device don't show online, try to reconnect input power source or repeat all the process after press the WiFi setup reset button at device.
                              </p>
                            </li>
                            <li class="list-group-item list-group-item-action" >
                              <b>5) Check WiFi signal strength</b>
                              <p class="my-2">
                              Move device to the place it will be used and repeat step <b>1)</b> now using
                                more real data with device connected. Use the device QR code to monitor signal strength.
                              </p>
                              <p class="alert alert-warning my-2">
                                Note a weak WiFi signal can increase power usage and reduce battery capacity.
                              </p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading4">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false"  aria-controls="collapse4">
                          #4 Placing the device on the water tank lid.
                        </button>
                      </h2>
                      <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" >
                        <div class="accordion-body">
                          <ul class="list-group ms-3" >
                            <li class="list-group-item list-group-item-action">
                              <p class="alert alert-danger my-2">
                                Place the device as far as possible from the main water inlet of the water tank,
                                without reaching to much closer to the water tank internal wall, to avoid erroneous
                                measurements when filling the water tank.
                              </p>
                              <div class="text-center row">
                                <div class="col-6" >
                                  <img src="{{ url_for('static', filename='manuals/inletKO.png') }}" class="img-thumbnail" alt="S2 incorrect sensor installation sample" title="S2 incorrect installation location">
                                </div>
                                <div class="col-6" >
                                  <img src="{{ url_for('static', filename='manuals/inletOK.png') }}" class="img-thumbnail" alt="S2 correct sensor installation sample" title="S2 correct installation location">
                                </div>

                              </div>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <p class="alert alert-danger my-2" >
                                  Keep in mind that the internal sensor that is placed inside the water tank must have a minimum margin of <b>2 centimeters</b>
                                  from its bottom location to the maximum distance that the water in the tank can reach.
                                </p>
                                <div class="text-center ">
                                  <img src="{{ url_for('static', filename='manuals/margin_s2.png') }}" class="img-thumbnail w-55" alt="S2 required installation margin sample" title="S2 margin installation sample">
                                </div>
                                <p class="alert alert-danger my-2" >
                                   If the tank cannot preserve that minimum distance margin, the sensor blind area is
                                  reached and erroneous random measurements will be reported.
                                </p>
                                <p class="alert alert-danger my-2" >
                                    In extreme cases, if the water in the tank overflows and covers the interior sensor,
                                  it could be damaged. The device is not intended for those usages and could reduce device usage life, but if you would like
                                  to take the risk ensure add extra water protection at USBC connection at sensor
                                  inside the water tank. (Like silicon glue sealing around it)
                                </p>
                              <p class="alert alert-warning my-2" >
                                Depending on the shape of your water tank, the closure of the lid and its resistance
                                to local conditions, you may choose to install it elsewhere. Always select a safe
                                installation option, this responsibility is offloaded to the client.
                              </p>
                            </li>
                            <li class="list-group-item list-group-item-action" >
                              <b>1) Open mount holes</b>
                              <p>Using a drill with an 11 millimeter diameter auger. Open two holes in the surface of
                                the water tank <b>44 millimeters</b> apart, measuring from the center of each hole.
                                Check the holes distance using the <b>Control Unit</b>, before open the holes especially
                                when the mount surface is curved.
                              </p>
                              <p class="alert alert-warning my-2">
                                Depending on power source selected, ensure it will fit around selected area.
                              </p>
                              <div class="text-center ">
                                <img src="{{ url_for('static', filename='manuals/mount_1.png') }}" class="img-thumbnail" alt="S2 Installation - Fastening Holes" title="S2 fixing holes in water tank cover">
                              </div>
                            </li>
                            <li class="list-group-item list-group-item-action" >
                              <b>2) Placement of the threaded support screw (Support Screw)</b>
                              <p class="my-2" >
                                Depending on the thickness of the water tank cover, select the most suitable support
                                threaded screw <b>(Support Screw)</b>. Note that you must leave about 30 additional
                                millimeters after passing the cover to place the internal sensor there.
                              </p>
                              <p class="alert alert-warning my-2" >
                                Be sure to screw the <b>Support Screw</b> at least <b>10 millimeters</b> into the upper base in the
                                <b>Control Unit</b> that goes on the outside of the water tank. Screw it in carefully using a
                                cloth or paper napkin to avoid damaging the plastic thread.
                              </p>
                              <div class="text-center ">
                                <img src="{{ url_for('static', filename='manuals/mount_2.png') }}" class="img-thumbnail" alt="S2 placement of the threaded support screw" title="Placement of the threaded support screw">
                              </div>
                            </li>
                            <li class="list-group-item list-group-item-action" >
                              <b>3) Placement of the upper Control Unit.</b>
                              <p class="my-2" >
                                Insert the <b>Control Unit</b> into the previously opened holes, optionally use the red flexible
                                plastic washers provided, for more flexibility in fastening.
                              </p>
                              <p class="alert alert-warning my-2" >
                                Be sure not to force the cables or deform the USBC connector while they pass through the
                                hole smoothly. If it does not pass, open the hole a little wider with the drill.
                              </p>
                              <div class="row" >
                                <div class="text-center col-6">
                                  <img src="{{ url_for('static', filename='manuals/mount_3.png') }}" class="img-thumbnail" alt="S2 red flexible plastic washers">
                                </div>
                                <div class="text-center col-6">
                                  <img src="{{ url_for('static', filename='manuals/mount_4.png') }}" class="img-thumbnail" alt="S2 colocation at tank cover.">
                                </div>
                              </div>
                              <p class="alert alert-danger my-2" >
                                  Be sure to place the red cover on the <b>Control Unit</b> USBC input power connector
                                  and position it firmly to reduce moisture penetration into the joint.
                              </p>
                              <div class="text-center ">
                                <img src="{{ url_for('static', filename='manuals/usbc_covers.png') }}" class="img-thumbnail" alt="S2 Parts - USB-C cover" title="USB-C cover">
                              </div>
                              <div class="text-center">
                                  <img src="{{ url_for('static', filename='manuals/mount_4.1.png') }}" class="img-thumbnail" alt="WiFi Water Level S2 And P1 Installed" title="WiFi Water Level S2 Installed">
                              </div>

                            </li>
                             <li class="list-group-item list-group-item-action" >
                              <b>4) Placement of Nut and Internal Sensor</b>
                               <p class="alert alert-warning my-2" >
                                 Place the thickest nut first, to get a firmer grip from the inside of the water tank
                                 cover, and screw it on until the <b>Control Unit</b> is slightly firm.
                                </p>
                                <p class="my-2">
                                  Then place the internal sensor and the internal sensor retaining nut.
                                </p>
                               <div class="row" >
                                  <div class="text-center col-6">
                                    <img src="{{ url_for('static', filename='manuals/mount_5.png') }}" class="img-thumbnail" alt="S2 placement of nut under tank cover" title="S2 nut under water tank cover">
                                  </div>
                                  <div class="text-center col-6">
                                    <img src="{{ url_for('static', filename='manuals/mount_6_s2.png') }}" class="img-thumbnail" alt="S2 internal sensor installation" title="S2 internal sensor under water tank cover">
                                  </div>
                                </div>
                               <p class="alert alert-danger my-2">
                                  Ensure the <b>Internal Sensor (Part J)</b> face the waterside, to allow measure the water level properly.
                               </p>
                               <div class="text-center">
                                    <img src="{{ url_for('static', filename='manuals/mount_7_s2.png') }}" class="img-thumbnail" alt="S2 internal sensor installation" title="S2 internal sensor under water tank cover">
                               </div>
                             </li>
                            <li class="list-group-item list-group-item-action" >
                              <b>5) Water Tank Indoor Sensor Connection</b>
                                <p class="my-2">
                                  Finally, connect the USBC cable that comes out of the <b>Control Unit</b>,
                                  through the hole, to the sensor inside the water tank.
                                </p>
                                <p class="alert alert-danger my-2" >
                                  Be sure to place the red cover on the sensor's USBC connector
                                  and position it firmly to reduce moisture penetration into the joint.
                                </p>
                                <div class="text-center ">
                                  <img src="{{ url_for('static', filename='manuals/usbc_covers.png') }}" class="img-thumbnail" alt="S2 USB-C cover" title="USB-C cover">
                                </div>
                                <div class="text-center ">
                                  <img src="{{ url_for('static', filename='manuals/mount_7.1_s2.png') }}" class="img-thumbnail" alt="S2 internal sensor USB-C cover installation" title="S2 internal sensor USB-C cover">
                                </div>
                                <p class="alert alert-warning my-2">
                                    In case the water tank occasionally overflows and reaches the interior sensor,
                                    be sure to add additional protection by sealing the connection with silicone.
                                </p>
                                <div class="text-center ">
                                  <img src="{{ url_for('static', filename='manuals/glue_gun.png') }}" class="img-thumbnail" alt="Generic silicon glue gun">
                                </div>
                                <p class="alert alert-danger my-2" >
                                  Do not connect the <b>USBC</b> power cable to the <b>USBC</b> connector of the
                                  internal sensor of the water tank, or it may be damaged.
                                  USBC power input is intended exclusively for the main <b>Control Unit</b>.
                                </p>
                             </li>
                          </ul>
                        </div>
                      </div>
                    </div>


                    <div class="accordion-item">
                      <h2 class="accordion-header" id="heading6">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                          #6 Adjust Device Settings
                        </button>
                      </h2>
                      <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"  >
                        <div class="accordion-body">
                          <h5>To correctly calculate the percentage of water available from the water tank, the settings of each device must be
                            adjusted to define at what level the water tank is considered empty.</h5>
                          <ul class="list-group ms-3" >
                            <li class="list-group-item list-group-item-action">
                              <b>1) Create an account or login at <a href="{{ DOMAIN }}" target="_blank" >this website</a></b>
                              <p class="my-2">
                                This step is required to allow change device settings.
                              </p>
                            </li>
                            <li class="list-group-item list-group-item-action">
                              <b>2) Add Device Admin Private Key</b>
                              <p class="my-2">
                                From same account logged browser, scan the device admin private key <b>QR</b> provided with the device and open the link.
                                This will add device admin rights to your account.
                              </p>
                            </li>
                            <li class="list-group-item list-group-item-action">
                              <b>3) Update <i>Empty Level</i> at Settings</b>
                              <p class="my-2">
                                After obtaining the device administration permissions, by linking with your private key, you can adjust the
                                device settings.
                              </p>
                              <p class="my-2">
                                Within these configurations, adjust the one called <b>Empty Level</b> by placing the distance in
                                centimeters from internal sensor to tank bottom at which you consider the water tank to be empty.
                              </p>
                            </li>

                          </ul>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
    </div>





<hr class="row small_none" >

<div class="row d-flex justify-content-center mb-3 small_none d-none">

    <div class="card bg-light col-auto" >
        <div class="card-body" >
            <h5 class="card-title fw-semibold mb-4 link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" >S2 Device Subscriptions</h5>
            <ul class="list-group ">

                {% for type in [0, 1, 2, 3] %}
                    <li class="list-group-item list-group-item-action list-group-item-light d-flex justify-content-between">

                        {% if type == 0 %}

                            <div class="row" >
                                <div class="col-auto" >
                                    <button class="btn3d btn btn-primary mx-2 btn-sm fs-5" type="submit" >
                                        <i class="ti ti-shopping-cart fs-7 mx-1"></i>
                                        Unlock Device <span class="badge bg-warning rounded-pill mx-2 fs-3">{{ UNLOCK_PRICE }} USD</span>
                                    </button>

                                    <p class="mx-2 mt-2" >
                                        Unlock this device to use it without subscriptions.
                                        <br>
                                        <span class="fs-1" >Minimum frequency updates 120 seconds.</span>
                                    </p>
                                </div>
                            </div>

                        {% elif type == 1 %}
                            <input type="hidden" name="cmd" value="_xclick-subscriptions">
                            <input type="hidden" name="item_name" value="Fast Updates">
                            <input type="hidden" name="a3" value="{{ SUBS_PRICES[type] }}"> <!-- Recurring amount -->

                            <div class="row" >
                                <div class="col-auto" >
                                    <button class="btn3d btn btn-success mx-2 btn-sm fs-5" type="submit" >
                                        <i class="ti ti-shopping-cart fs-7 mx-1"></i>
                                        Fast Updates <span class="badge bg-warning rounded-pill mx-2 fs-3">{{ SUBS_PRICES[type] }} USD/Month</span>
                                    </button>

                                    <p class="mx-2 mt-2" >Buy this monthly subscription to enable faster frequency updates up to 30 seconds.
                                        <span class="badge bg-info rounded-pill fs-1 ms-1">1-Week Free Trial</span>
                                        <br>
                                        <span class="fs-1" >Minimum frequency updates 30 seconds. Requires the <b>Basic Plan</b> or <b>Unlock Device</b></span>
                                    </p>
                                </div>
                            </div>


                        {% elif type == 2 %}
                            <input type="hidden" name="cmd" value="_xclick-subscriptions">
                            <input type="hidden" name="item_name" value="Basic Plan">
                            <input type="hidden" name="a3" value="{{ SUBS_PRICES[type] }}"> <!-- Recurring amount -->

                            <div class="row" >
                                <div class="col-auto" >
                                    <button class="btn3d btn btn-primary mx-2 btn-sm fs-5" type="submit" >
                                        <i class="ti ti-shopping-cart fs-7 mx-1"></i>
                                        Basic Plan <span class="badge bg-warning rounded-pill mx-2 fs-3">{{ SUBS_PRICES[type] }} USD/Month</span>
                                    </button>

                                    <p class="mx-2 mt-2" >
                                        Basic monthly subscription required to use the device.
                                        <span class="badge bg-info rounded-pill fs-1 ms-1">1-Week Free Trial</span>
                                        <br>
                                        <span class="fs-1" >Minimum frequency updates 120 seconds.</span>
                                    </p>
                                </div>
                            </div>


                        {% elif type == 3 %}
                            <input type="hidden" name="cmd" value="_xclick-subscriptions">
                            <input type="hidden" name="item_name" value="Fast Premium">
                            <input type="hidden" name="a3" value="{{ SUBS_PRICES[type] }}"> <!-- Recurring amount -->

                            <div class="row" >
                                <div class="col-auto" >
                                    <button class="btn3d btn btn-primary mx-2 btn-sm fs-5" type="submit" >
                                        <i class="ti ti-shopping-cart fs-7 mx-1"></i>
                                        Fast Premium <span class="badge bg-warning rounded-pill mx-2 fs-3">{{ SUBS_PRICES[type] }} USD/Month</span>
                                    </button>

                                    <p class="mx-2 mt-2" >
                                        Premium monthly subscription required to use the device that include faster frequency updates up to 30 seconds.
                                        <span class="badge bg-info rounded-pill fs-1 ms-1">1-Week Free Trial</span>
                                        <br>
                                        <span class="fs-1" >Minimum frequency updates 30 seconds.</span>
                                    </p>
                                </div>
                            </div>

                        {% endif %}
                    </li>
                {% endfor %}

                {% if active_subs %}
                <li class="list-group-item list-group-item-action">
                    <h6>Manage Your Active Subscription</h6>
                    <p class="fs-2" >If you wish to manage or cancel your subscription, please click the button below:</p>
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_manage-paylist" target="_blank">
                        <button class="btn3d  btn btn-secondary btn-sm fs-2" >
                            <i class="ti ti-settings fs-7 mx-1"></i>
                            Manage Subscriptions
                        </button>
                    </a>
                </li>
                {% endif %}
            </ul>

            <div class="row my-2 alert alert-info" >
                <span class="fs-3" >
                    <i class="ti ti-info-circle fs-6 mx-1"></i>
                    To buy or manage a subscription or unlock a device a user account is not required
                </span>
            </div>

        </div>
    </div>
</div>




</div>
{% endblock %}